<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cose.easywu.mapper.GoodsMapper">

    <insert id="insertGoods" parameterType="com.cose.easywu.po.Goods">
        INSERT INTO goods (g_id, g_name, g_desc, g_price, g_originalPrice, g_pic1, g_pic2, g_pic3, g_state,
        g_updateTime, g_t_id, g_u_id) VALUES (#{g_id}, #{g_name}, #{g_desc}, #{g_price}, #{g_originalPrice},
        #{g_pic1}, #{g_pic2}, #{g_pic3}, #{g_state}, #{g_updateTime}, #{g_type.t_id}, #{g_user.u_id})
    </insert>

    <insert id="insertFindGoods" parameterType="com.cose.easywu.po.FindGoodsQueryPo">
        INSERT INTO findgoods (fg_id, fg_name, fg_desc, fg_pic1, fg_pic2, fg_pic3, fg_state, fg_updateTime,
                               fg_ft_id, fg_u_id)
        VALUES (#{fg_id}, #{fg_name}, #{fg_desc}, #{fg_pic1}, #{fg_pic2}, #{fg_pic3}, #{fg_state},
                #{fg_updateTime}, #{fg_ft_id}, #{fg_u_id})
    </insert>

    <insert id="insertFindPeople" parameterType="com.cose.easywu.po.FindGoodsQueryPo">
        INSERT INTO findpeople (fg_id, fg_name, fg_desc, fg_pic1, fg_pic2, fg_pic3, fg_state, fg_updateTime,
                               fg_ft_id, fg_u_id)
        VALUES (#{fg_id}, #{fg_name}, #{fg_desc}, #{fg_pic1}, #{fg_pic2}, #{fg_pic3}, #{fg_state},
                #{fg_updateTime}, #{fg_ft_id}, #{fg_u_id})
    </insert>

    <update id="updateGoods" parameterType="com.cose.easywu.po.Goods">
        UPDATE goods SET g_name = #{g_name}, g_desc = #{g_desc}, g_price = #{g_price}, g_originalPrice = #{g_originalPrice},
        g_pic1 = #{g_pic1}, g_pic2 = #{g_pic2}, g_pic3 = #{g_pic3}, g_updateTime = #{g_updateTime}, g_t_id = #{g_type.t_id}
        WHERE g_id = #{g_id}
    </update>

    <update id="updateFindGoods" parameterType="com.cose.easywu.po.FindGoodsQueryPo">
        UPDATE findgoods SET fg_name = #{fg_name}, fg_desc = #{fg_desc}, fg_pic1 = #{fg_pic1}, fg_pic2 = #{fg_pic2},
                             fg_pic3 = #{fg_pic3}, fg_updateTime = #{fg_updateTime}, fg_ft_id = #{fg_ft_id}
        WHERE fg_id = #{fg_id}
    </update>

    <update id="updateFindPeople" parameterType="com.cose.easywu.po.FindGoodsQueryPo">
        UPDATE findpeople SET fg_name = #{fg_name}, fg_desc = #{fg_desc}, fg_pic1 = #{fg_pic1}, fg_pic2 = #{fg_pic2},
                             fg_pic3 = #{fg_pic3}, fg_updateTime = #{fg_updateTime}, fg_ft_id = #{fg_ft_id}
        WHERE fg_id = #{fg_id}
    </update>

    <select id="selectNewestGoods" parameterType="Map" resultType="com.cose.easywu.po.GoodsQueryPo">
        SELECT g_id, g_name, g_desc, g_price, g_originalPrice, g_pic1, g_pic2, g_pic3, g_updateTime, g_state,
        g_like, g_t_id, u_id AS g_u_id, u_nick AS g_u_nick, u_photo AS g_u_photo, u_sex AS g_u_sex
        FROM goods, users WHERE g_u_id = u_id AND g_state = 0 ORDER BY g_updateTime DESC
        LIMIT #{startPos}, #{pageSize}
    </select>

    <select id="selectNewestFindGoods" parameterType="Map" resultType="com.cose.easywu.po.FindGoodsQueryPo">
        SELECT fg_id, fg_name, fg_desc, fg_pic1, fg_pic2, fg_pic3, fg_state, fg_like, fg_updateTime,
               fg_ft_id, fg_u_id, u_nick AS fg_u_nick, u_photo AS fg_u_photo, u_sex AS fg_u_sex
        FROM findgoods, users WHERE fg_u_id = u_id AND fg_state = 0 ORDER BY fg_updateTime DESC
        LIMIT #{startPos}, #{pageSize}
    </select>

    <select id="selectNewestFindPeople" parameterType="Map" resultType="com.cose.easywu.po.FindGoodsQueryPo">
        SELECT fg_id, fg_name, fg_desc, fg_pic1, fg_pic2, fg_pic3, fg_state, fg_like, fg_updateTime,
               fg_ft_id, fg_u_id, u_nick AS fg_u_nick, u_photo AS fg_u_photo, u_sex AS fg_u_sex
        FROM findpeople, users WHERE fg_u_id = u_id AND fg_state = 0 ORDER BY fg_updateTime DESC
        LIMIT #{startPos}, #{pageSize}
    </select>

    <select id="selectLikeFindGoodsList" parameterType="String" resultType="com.cose.easywu.po.FindGoodsQueryPo">
        SELECT fg_id, fg_name, fg_desc, fg_pic1, fg_pic2, fg_pic3, fg_state, fg_like, fg_updateTime,
               fg_ft_id, fg_u_id, u_nick AS fg_u_nick, u_photo AS fg_u_photo, u_sex AS fg_u_sex
        FROM findgoods, users, likefindgoods WHERE lfg_u_id = #{u_id} AND lfg_fg_id = fg_id AND fg_u_id = u_id
        ORDER BY fg_updateTime DESC
    </select>

    <select id="selectLikeFindPeopleList" parameterType="String" resultType="com.cose.easywu.po.FindGoodsQueryPo">
        SELECT fg_id, fg_name, fg_desc, fg_pic1, fg_pic2, fg_pic3, fg_state, fg_like, fg_updateTime,
               fg_ft_id, fg_u_id, u_nick AS fg_u_nick, u_photo AS fg_u_photo, u_sex AS fg_u_sex
        FROM findpeople, users, likefindpeople WHERE lfp_u_id = #{u_id} AND lfp_fg_id = fg_id AND fg_u_id = u_id
        ORDER BY fg_updateTime DESC
    </select>

    <select id="selectGoodsByTypeId" parameterType="Map" resultType="com.cose.easywu.po.GoodsQueryPo">
        SELECT g_id, g_name, g_desc, g_price, g_originalPrice, g_pic1, g_pic2, g_pic3, g_updateTime, g_state,
               g_like, g_t_id, u_id AS g_u_id, u_nick AS g_u_nick, u_photo AS g_u_photo, u_sex AS g_u_sex
        FROM goods, users WHERE g_u_id = u_id AND g_state = 0 AND g_t_id = #{type_id}
        ORDER BY g_updateTime DESC
        LIMIT #{startPos}, #{pageSize}
    </select>

    <select id="selectFindGoodsByTypeId" parameterType="Map" resultType="com.cose.easywu.po.FindGoodsQueryPo">
        SELECT fg_id, fg_name, fg_desc, fg_pic1, fg_pic2, fg_pic3, fg_updateTime, fg_state, fg_like, fg_ft_id,
               u_id AS fg_u_id, u_nick AS fg_u_nick, u_photo AS fg_u_photo, u_sex AS fg_u_sex
        FROM findgoods, users WHERE fg_u_id = u_id AND fg_state = 0 AND fg_ft_id = #{type_id}
        ORDER BY fg_updateTime DESC
        LIMIT #{startPos}, #{pageSize}
    </select>

    <select id="selectFindPeopleByTypeId" parameterType="Map" resultType="com.cose.easywu.po.FindGoodsQueryPo">
        SELECT fg_id, fg_name, fg_desc, fg_pic1, fg_pic2, fg_pic3, fg_updateTime, fg_state, fg_like, fg_ft_id,
               u_id AS fg_u_id, u_nick AS fg_u_nick, u_photo AS fg_u_photo, u_sex AS fg_u_sex
        FROM findpeople, users WHERE fg_u_id = u_id AND fg_state = 0 AND fg_ft_id = #{type_id}
        ORDER BY fg_updateTime DESC
        LIMIT #{startPos}, #{pageSize}
    </select>

    <select id="selectGoodsByKey" parameterType="Map" resultType="com.cose.easywu.po.GoodsQueryPo">
        SELECT g_id, g_name, g_desc, g_price, g_originalPrice, g_pic1, g_pic2, g_pic3, g_updateTime, g_state,
               g_like, g_t_id, u_id AS g_u_id, u_nick AS g_u_nick, u_photo AS g_u_photo, u_sex AS g_u_sex
        FROM goods, users WHERE g_u_id = u_id AND g_state = 0 AND g_name LIKE '%${key}%'
        ORDER BY g_updateTime DESC
        LIMIT #{startPos}, #{pageSize}
    </select>

    <select id="selectFindGoodsByKey" parameterType="Map" resultType="com.cose.easywu.po.FindGoodsQueryPo">
        SELECT fg_id, fg_name, fg_desc, fg_pic1, fg_pic2, fg_pic3, fg_updateTime, fg_state, fg_like, fg_ft_id,
               u_id AS fg_u_id, u_nick AS fg_u_nick, u_photo AS fg_u_photo, u_sex AS fg_u_sex
        FROM findgoods, users WHERE fg_u_id = u_id AND fg_state = 0 AND fg_name LIKE '%${key}%'
        ORDER BY fg_updateTime DESC
        LIMIT #{startPos}, #{pageSize}
    </select>

    <select id="selectFindPeopleByKey" parameterType="Map" resultType="com.cose.easywu.po.FindGoodsQueryPo">
        SELECT fg_id, fg_name, fg_desc, fg_pic1, fg_pic2, fg_pic3, fg_updateTime, fg_state, fg_like, fg_ft_id,
               u_id AS fg_u_id, u_nick AS fg_u_nick, u_photo AS fg_u_photo, u_sex AS fg_u_sex
        FROM findpeople, users WHERE fg_u_id = u_id AND fg_state = 0 AND fg_name LIKE '%${key}%'
        ORDER BY fg_updateTime DESC
        LIMIT #{startPos}, #{pageSize}
    </select>

    <select id="selectGoodsLike" parameterType="String" resultType="com.cose.easywu.po.GoodsQueryPo">
        SELECT g_id, g_name, g_desc, g_price, g_originalPrice, g_pic1, g_pic2, g_pic3, g_updateTime, g_state,
               g_like, g_t_id, u_id AS g_u_id, u_nick AS g_u_nick, u_photo AS g_u_photo, u_sex AS g_u_sex
        FROM goods, users, likegoods WHERE lg_u_id = #{u_id} AND lg_g_id = g_id AND g_u_id = u_id ORDER BY g_updateTime DESC
    </select>

    <select id="selectReleaseGoodsList" parameterType="String" resultType="com.cose.easywu.po.GoodsQueryPo">
        SELECT g_id, g_name, g_desc, g_price, g_originalPrice, g_pic1, g_pic2, g_pic3, g_updateTime, g_state, g_like, g_t_id, g_buyer_id
        FROM goods WHERE g_u_id = #{u_id} AND g_state != 4 ORDER BY g_updateTime DESC
    </select>

    <select id="selectReleaseFindGoodsList" parameterType="String" resultType="com.cose.easywu.po.FindGoodsQueryPo">
        SELECT fg_id, fg_name, fg_desc, fg_pic1, fg_pic2, fg_pic3, fg_updateTime, fg_state, fg_like, fg_ft_id
        FROM findgoods WHERE fg_u_id = #{u_id} AND fg_state != 4 ORDER BY fg_updateTime DESC
    </select>

    <select id="selectReleaseFindPeopleList" parameterType="String" resultType="com.cose.easywu.po.FindGoodsQueryPo">
        SELECT fg_id, fg_name, fg_desc, fg_pic1, fg_pic2, fg_pic3, fg_updateTime, fg_state, fg_like, fg_ft_id
        FROM findpeople WHERE fg_u_id = #{u_id} AND fg_state != 4 ORDER BY fg_updateTime DESC
    </select>

    <select id="selectBuyGoodsList" parameterType="String" resultType="com.cose.easywu.po.GoodsQueryPo">
        SELECT g_id, g_name, g_desc, g_price, g_originalPrice, g_pic1, g_pic2, g_pic3, g_updateTime, g_state, g_like, g_t_id,
               g_u_id, u_nick AS g_u_nick, u_photo AS g_u_photo, u_sex AS g_u_sex
        FROM goods, users WHERE g_buyer_id = #{u_id} AND g_u_id = u_id ORDER BY g_updateTime DESC
    </select>

    <select id="selectGoodsById" parameterType="String" resultType="com.cose.easywu.po.GoodsQueryPo">
        SELECT goods.*, users.u_nick g_u_nick, users.u_photo g_u_photo, users.u_sex g_u_sex
        FROM goods, users WHERE g_id = #{g_id} AND g_u_id = u_id
    </select>

    <select id="selectFindGoodsById" parameterType="String" resultType="com.cose.easywu.po.FindGoodsQueryPo">
        SELECT findgoods.*, users.u_nick fg_u_nick, users.u_photo fg_u_photo, users.u_sex fg_u_sex
        FROM findgoods, users WHERE fg_id = #{g_id} AND fg_u_id = u_id
    </select>

    <select id="selectFindPeopleById" parameterType="String" resultType="com.cose.easywu.po.FindGoodsQueryPo">
        SELECT findpeople.*, users.u_nick fg_u_nick, users.u_photo fg_u_photo, users.u_sex fg_u_sex
        FROM findpeople, users WHERE fg_id = #{g_id} AND fg_u_id = u_id
    </select>

    <insert id="insertLikeGoods" parameterType="com.cose.easywu.po.UpdateGoodsPo">
        INSERT INTO likegoods VALUES (#{u_id}, #{g_id})
    </insert>

    <insert id="insertLikeFindGoods" parameterType="com.cose.easywu.po.UpdateGoodsPo">
        INSERT INTO likefindgoods VALUES (#{u_id}, #{g_id})
    </insert>

    <insert id="insertLikeFindPeople" parameterType="com.cose.easywu.po.UpdateGoodsPo">
        INSERT INTO likefindpeople VALUES (#{u_id}, #{g_id})
    </insert>

    <delete id="deleteLikeGoods" parameterType="com.cose.easywu.po.UpdateGoodsPo">
        DELETE FROM likegoods WHERE lg_u_id = #{u_id} AND lg_g_id = #{g_id}
    </delete>

    <delete id="deleteLikeFindGoods" parameterType="com.cose.easywu.po.UpdateGoodsPo">
        DELETE FROM likefindgoods WHERE lfg_u_id = #{u_id} AND lfg_fg_id = #{g_id}
    </delete>

    <delete id="deleteLikeFindPeople" parameterType="com.cose.easywu.po.UpdateGoodsPo">
        DELETE FROM likefindpeople WHERE lfp_u_id = #{u_id} AND lfp_fg_id = #{g_id}
    </delete>

    <update id="updateGoodsLike" parameterType="com.cose.easywu.po.UpdateGoodsPo">
        UPDATE goods SET g_like = g_like + #{count} WHERE g_id = #{g_id}
    </update>

    <update id="updateFindGoodsLike" parameterType="com.cose.easywu.po.UpdateGoodsPo">
        UPDATE findgoods SET fg_like = fg_like + #{count} WHERE fg_id = #{g_id}
    </update>

    <update id="updateFindPeopleLike" parameterType="com.cose.easywu.po.UpdateGoodsPo">
        UPDATE findpeople SET fg_like = fg_like + #{count} WHERE fg_id = #{g_id}
    </update>

    <update id="updateGoodsUpdateTime" parameterType="com.cose.easywu.po.UpdateGoodsPo">
        UPDATE goods SET g_updateTime = #{updateTime} WHERE g_id = #{g_id} AND g_u_id = #{u_id}
    </update>

    <update id="updateFindGoodsUpdateTime" parameterType="com.cose.easywu.po.UpdateGoodsPo">
        UPDATE findgoods SET fg_updateTime = #{updateTime} WHERE fg_id = #{g_id} AND fg_u_id = #{u_id}
    </update>

    <update id="updateFindPeopleUpdateTime" parameterType="com.cose.easywu.po.UpdateGoodsPo">
        UPDATE findpeople SET fg_updateTime = #{updateTime} WHERE fg_id = #{g_id} AND fg_u_id = #{u_id}
    </update>

    <update id="updateGoodsState" parameterType="com.cose.easywu.po.UpdateGoodsPo">
        UPDATE goods SET g_state = #{state} WHERE g_id = #{g_id} AND g_u_id = #{u_id}
    </update>

    <update id="updateFindGoodsState" parameterType="com.cose.easywu.po.UpdateGoodsPo">
        UPDATE findgoods SET fg_state = #{state} WHERE fg_id = #{g_id} AND fg_u_id = #{u_id}
    </update>

    <update id="updateFindPeopleState" parameterType="com.cose.easywu.po.UpdateGoodsPo">
        UPDATE findpeople SET fg_state = #{state} WHERE fg_id = #{g_id} AND fg_u_id = #{u_id}
    </update>

    <update id="updateGoodsStateAndBuyerID" parameterType="com.cose.easywu.po.UpdateGoodsPo">
        UPDATE goods SET g_state = #{state}, g_buyer_id = #{u_id}, g_updateTime = #{updateTime} WHERE g_id = #{g_id}
    </update>

    <update id="updateGoodsStateAndSetBuyerIDNull" parameterType="com.cose.easywu.po.UpdateGoodsPo">
        UPDATE goods SET g_state = #{state}, g_buyer_id = NULL WHERE g_id = #{g_id}
    </update>

    <insert id="insertCommentDetailPo"
            useGeneratedKeys="true" keyColumn="gc_id" keyProperty="id" parameterType="com.cose.easywu.po.CommentDetailPo">
        INSERT INTO goodscommentdetail (gcd_content, gcd_gc_id, gcd_u_id, gcd_createTime)
        VALUES (#{content}, #{gc_id}, #{u_id}, #{createTime});
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertCommentBean"
            useGeneratedKeys="true" keyColumn="gc_id" keyProperty="id" parameterType="com.cose.easywu.po.CommentBean">
        INSERT INTO goodscomment (gc_g_id) VALUES (#{g_id});
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="selectGoodsCommentWithReply" parameterType="String" resultMap="commentResult">
        SELECT temp.*, u2.u_id u2_id, u2.u_nick u2_nick FROM (SELECT u1.u_id u1_id, u1.u_nick u1_nick, u1.u_photo u1_photo,
                       gc.gc_id, gc.gc_g_id, gcd.gcd_id, gcd.gcd_content, gcd.gcd_createTime, grd.grd_id, grd.grd_content,
                       grd.grd_createTime, grd.grd_u_id
                       FROM users u1, goodsComment gc, goodsCommentDetail gcd LEFT OUTER JOIN goodsReplyDetail grd
                                                               ON gcd.gcd_id = grd.grd_gcd_id
                       WHERE gc.gc_g_id = #{g_id} AND gc.gc_id = gcd.gcd_gc_id AND u1.u_id = gcd.gcd_u_id
                                                  ORDER BY gcd.gcd_createTime DESC) temp
                          LEFT OUTER JOIN users u2 ON temp.grd_u_id = u2.u_id
    </select>

    <resultMap id="replyDetailResult" type="com.cose.easywu.po.ReplyDetailBean">
        <id property="id" column="grd_id"/>
        <result property="nickName" column="u2_nick"/>
        <result property="uid" column="u2_id"/>
        <result property="content" column="grd_content"/>
        <result property="createTime" column="grd_createTime"/>
    </resultMap>

    <resultMap id="commentDetailResult" type="com.cose.easywu.po.CommentDetailBean">
        <id property="id" column="gcd_id"/>
        <result property="uid" column="u1_id"/>
        <result property="nickName" column="u1_nick"/>
        <result property="userPhoto" column="u1_photo"/>
        <result property="content" column="gcd_content"/>
        <result property="createTime" column="gcd_createTime"/>
        <collection property="replyList" ofType="com.cose.easywu.po.ReplyDetailBean" resultMap="replyDetailResult"/>
    </resultMap>

    <resultMap id="commentResult" type="com.cose.easywu.po.CommentBean">
        <id property="id" column="gc_id"/>
        <result property="g_id" column="gc_g_id"/>
        <collection property="list" ofType="com.cose.easywu.po.CommentDetailBean" resultMap="commentDetailResult"/>
    </resultMap>

    <insert id="insertReplyPo" parameterType="com.cose.easywu.po.ReplyDetailPo">
        INSERT INTO goodsreplydetail (grd_content, grd_createTime, grd_gcd_id, grd_u_id, grd_orgin_u_id)
        VALUES (#{reply}, #{createTime}, #{comment_id}, #{u_id}, #{origin_uid});
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertFindGoodsReplyPo" parameterType="com.cose.easywu.po.ReplyDetailPo">
        INSERT INTO findgoodsreplydetail (fgrd_content, fgrd_createTime, fgrd_fgcd_id, fgrd_u_id, fgrd_orgin_u_id)
        VALUES (#{reply}, #{createTime}, #{comment_id}, #{u_id}, #{origin_uid});
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertFindPeopleReplyPo" parameterType="com.cose.easywu.po.ReplyDetailPo">
        INSERT INTO findpeoplereplydetail (fprd_content, fprd_createTime, fprd_fpcd_id, fprd_u_id, fprd_orgin_u_id)
        VALUES (#{reply}, #{createTime}, #{comment_id}, #{u_id}, #{origin_uid});
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertCommentBeanFindGoods"
            useGeneratedKeys="true" keyColumn="gc_id" keyProperty="id" parameterType="com.cose.easywu.po.CommentBean">
        INSERT INTO findgoodscomment (fgc_fg_id) VALUES (#{g_id});
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertCommentBeanFindPeople"
            useGeneratedKeys="true" keyColumn="gc_id" keyProperty="id" parameterType="com.cose.easywu.po.CommentBean">
        INSERT INTO findpeoplecomment (fpc_fg_id) VALUES (#{g_id});
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertCommentDetailPoFindGoods"
            useGeneratedKeys="true" keyColumn="gc_id" keyProperty="id" parameterType="com.cose.easywu.po.CommentDetailPo">
        INSERT INTO findgoodscommentdetail (fgcd_content, fgcd_fgc_id, fgcd_u_id, fgcd_createTime)
        VALUES (#{content}, #{gc_id}, #{u_id}, #{createTime});
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertCommentDetailPoFindPeople"
            useGeneratedKeys="true" keyColumn="gc_id" keyProperty="id" parameterType="com.cose.easywu.po.CommentDetailPo">
        INSERT INTO findpeoplecommentdetail (fpcd_content, fpcd_fpc_id, fpcd_u_id, fpcd_createTime)
        VALUES (#{content}, #{gc_id}, #{u_id}, #{createTime});
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="selectFindGoodsCommentWithReply" parameterType="String" resultMap="commentResult">
        SELECT temp.*, u2.u_id u2_id, u2.u_nick u2_nick FROM (SELECT u1.u_id u1_id, u1.u_nick u1_nick, u1.u_photo u1_photo,
                                                                     fgc.fgc_id gc_id, fgc.fgc_fg_id gc_g_id, fgcd.fgcd_id gcd_id,
                                                                     fgcd.fgcd_content gcd_content, fgcd.fgcd_createTime gcd_createTime,
                                                                     fgrd.fgrd_id grd_id, fgrd.fgrd_content grd_content,
                                                                     fgrd.fgrd_createTime grd_createTime, fgrd.fgrd_u_id grd_u_id
                                                              FROM users u1, findgoodscomment fgc, findgoodscommentdetail fgcd LEFT OUTER JOIN findgoodsreplydetail fgrd
                                                                                                      ON fgcd.fgcd_id = fgrd.fgrd_fgcd_id
                                                              WHERE fgc.fgc_fg_id = #{g_id} AND fgc.fgc_id = fgcd.fgcd_fgc_id AND u1.u_id = fgcd.fgcd_u_id
                                                              ORDER BY fgcd.fgcd_createTime DESC) temp
                                                                 LEFT OUTER JOIN users u2 ON temp.grd_u_id = u2.u_id
    </select>

    <select id="selectFindPeopleCommentWithReply" parameterType="String" resultMap="commentResult">
        SELECT temp.*, u2.u_id u2_id, u2.u_nick u2_nick FROM (SELECT u1.u_id u1_id, u1.u_nick u1_nick, u1.u_photo u1_photo,
                                                                     fpc.fpc_id gc_id, fpc.fpc_fg_id gc_g_id, fpcd.fpcd_id gcd_id,
                                                                     fpcd.fpcd_content gcd_content, fpcd.fpcd_createTime gcd_createTime,
                                                                     fprd.fprd_id grd_id, fprd.fprd_content grd_content,
                                                                     fprd.fprd_createTime grd_createTime, fprd.fprd_u_id grd_u_id
                                                              FROM users u1, findpeoplecomment fpc, findpeoplecommentdetail fpcd LEFT OUTER JOIN findpeoplereplydetail fprd
                                                                                                           ON fpcd.fpcd_id = fprd.fprd_fpcd_id
                                                              WHERE fpc.fpc_fg_id = #{g_id} AND fpc.fpc_id = fpcd.fpcd_fpc_id AND u1.u_id = fpcd.fpcd_u_id
                                                              ORDER BY fpcd.fpcd_createTime DESC) temp
                                                                 LEFT OUTER JOIN users u2 ON temp.grd_u_id = u2.u_id
    </select>

</mapper>